@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap');

*{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}


